.header {
    height: var(--header-height);

    /*  linear-gradient(0,X,Y); X màu ở nửa dưới ; Y màu ở nửa trên */
    background-image: linear-gradient(0, #fe6433, #f52e2d);

}

.header__navbar {
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
    width: 1200px;

}

.header__navbar-list {
    padding-left: 0;
    list-style: none;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;

}
.header__navbar-user{
    position: relative;
    display: flex;
    justify-items: center;
    cursor: pointer;
}
.header__navbar-user:hover .header__navbar-user-list-item{
    display: block;

}
.header__navbar-user-img{
    width:22px;
    height:22px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
}
.header__navbar-user-name{
    font-size: 1.4rem;
    margin-left: 8px;
    font-weight: 400;

}
.header__navbar-user-list-item{
    position:absolute;
    top:calc(100% + 5px);
    right:0 ;
    width: 160px;
    background-color:var(--white-color);
    border-radius:2px;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    z-index: 1;
    padding-left: 0;
    display: none;
    animation: fadeIn ease-in 0.3s;

}
.header__navbar-user-list-item::before{
    content: "";
    position: absolute;
    right: 33px;
    top: -18px;
    border-width: 11px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.header__navbar-user-item{
    height:39px;
    list-style: none;
    line-height: 39px;
}
.header__navbar-user-item-separate{
    border-top: 1px solid rgba(0,0,0,0.1);

}
.header__navbar-user-item:hover{
    background-color: #f8f8f8;
    color: var(--primary-color);
}
.header__navbar-user-item a{
    text-decoration: none;
    color:var(--text-color);
    font-size: 1.5rem;
    padding-left: 12px;

}
.header__navbar-user-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}
.header__navbar-user-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-item-icon {
    display: inline-flex;
    align-items: center;
}
.header__navbar-item-link:nth-child(2){
    margin-left:4px;
}

.header__navbar-item-link:hover {
    opacity: 0.8;
    cursor: pointer;
}


.header__navbar-item--strong {
    font-weight: 550;
}
.header__navbar-item--strong:hover{
    cursor: pointer;
    opacity: 0.7;
}
.header__navbar-item--separate::after {
    position: absolute;
    right: -9px;
    top: 10%;
    transform: translateY(-1px);
    content: "";
    display: block;
    width: 1px;
    height: 16px;
    background-color: #fb9086;

}


.header__navbar-item-icon {
    font-size: 1.7rem;
    margin: 0 4px;
}

.header__navbar-item--no-pointer {
    /* cursor nên để là text  */
    cursor: text;
    /* màu trắng để dễ phân biệt là text chứ k bấm vào đc  */
    color: var(--white-color);

}

/* HEADER QR CODE */
.header__QR {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 100%;
    /* top:100% nó sẽ sụt xuống 1 khoảng
     bằng kích thước chiều cao thẻ li(header__navbar-item) chứa nó  */
    padding: 8px;
    border-radius: 4px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0 ,0 , 0 , 0.1);
}


.header__QR::before {
    /* lớp giả before làm cầu nối vì có  khoảng hở khi di chuột bị mất QR , ở trước thèn header__QR*/
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 20px;
    top: -12px;
    display: block;
    /* hiện nó  */
}

.header__QR-img {
    width: 100%;
    /* width 100% nó sẽ full kích cỡ bằng thẻ cha chứa nó */
}

.header__QR-app {
    display: flex;
    justify-content: space-between;
}

.header__QR-img-download {
    height: 16px;
}

.header__QR-link-download:first-child {
    margin-left: 11px;
}

.header__QR-link-download:last-child {
    margin-right: 11px;
}

.header__navbar--QR-open:hover .header__QR {
    /* đặt .header__QR vào sau :hover để hiểu rằng
     khi hover vào sẽ hiện ra    */
    display: block;

}


.header__QR-link-download {}

/* Header Notifications */
.header__notify {
    position: absolute;
    width: 404px;
    top: 118%;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    background-color: var(--white-color);
    right: 0;
    cursor: default; 
    transform-origin: calc(100% - 32px) top;
    animation: NotifyGrowth ease-in 0.25s;
    display:none;
    z-index: 1;
}
.header__notify::after {
     /* lớp giả before làm cầu nối vì có  
    khoảng hở khi di chuột bị mất thông báo  */
    position: absolute;
    content: "";
    width: 90px;
    /* width k nên để 100% vì chỉ cần xung quanh thèn thông báo thôi  */
    height: 20px;
    right: 0;
    top: -21px;
    display: block;
    
    /* hiện nó  */
}
.header__notify::before{
    /* lớp giả để hiện mũi tên màu trắng */
    position: absolute;
    content: "";
    right:16px;
    border-width: 27px 23px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    will-change: opacity, transform;
    /* will-change: nói cho thèn trình duyệt biết thuộc tính animation gì
     sẽ làm theo đổi đối tượng ,
     để nó tối ưu chuyển động hơn; */
    top: -38px;
}
.header__notify--open-hover:hover .header__notify {
    display:block;
}
@keyframes NotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform:scale(1);
    }
}
/* .header__navbar-item:hover .header__notify{
    display:block;
} */
.header__notify-header {
    weight: 30px;
    background-color: var(--white-color);
    cursor: text;
}

.header__notify-header h3 {
    color: #999;
    font-weight: 400;
    margin: 0;
    margin-left: 12px;
    font-size: 1.4rem;
    line-height: 40px;
    /* line-height: của chữ thường để giá trị bằng kích thước chiều cao của thèn chứa nó; */
}

.header__notify-list {
    padding-left: 0;
    /* padding-left: 0 vì mặc định thẻ UL 
    nó padding trái 40px nên set về ban đầu */
    list-style-type: none;
    margin-top: -16px;
}

.header__notify-item {
    display: flex;
}

.header__notify--viewed{
    background-color: rgba(238,75,43,0.09);

}
.header__notify--viewed:hover{
    background-color: #d3d3d3;
}
.header__notify-link {
    display: flex;
    width:100%;
    text-decoration: none;
    /* do thẻ a mặc định có dấu gạch chân ở dưới nên bỏ đi :> */
    padding: 12px;
    
}
.header__logo-link{
    border: transparent;
    /* tránh tạo ra border màu xanh ở trình duyệt IE */
    text-decoration: none;
    /* thường thẻ a mặc định sẽ có gạch chân nên bỏ đi  */
    line-height: 0px;
    display: block;
    color: transparent;
    
}
.header__logo{
    width:200px;
}
.header__search-checkbox:checked ~ .header__search {
    display:flex;
}
.header__logo-img{
    width:150px;
    color: var(--white-color);
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name {
    display:block;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height:1.8rem;
    font-weight:500;
}

.header__notify-description {
    display:block;
    text-decoration: none;
    font-size: 1.2rem;
    color: #756f6e;
    line-height:1.8rem;
    margin-top:5px;
}
.header__notify--footer{
     text-align:center;
     height:31px;
     line-height:31px;
     font-weight: 500;

}
.header__notify--footer-btn{
    text-decoration: none;
    color: var(--text-color);
}
/* Modal CSS */
.modal{
    position:fixed;
    right:0;
    left:0;
    top:0;
    bottom:0;
    display:flex;
    animation:fadeIn linear 0.1s;
}
.modal__overlay{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.4)
}
.modal__body{
    --growth-from:0.7;
    --growth-to:1;
    /* background-color:var(--white-color); */
    margin: auto;
    border-radius: 5px;
    /* căn giữa */
    position: relative;
    z-index: 1;
    /* bình thường thì các thẻ CSS thẻ nào viết sau cùng thì ưu tiên hơn hiển thị lên trên layout của thèn đầu,
    do thèn overlay viết sau cùng nên nó đc ưu tiên hiển thị laydout đè lên body 
     trong phần này muốn body nổi lên trên overlay thì để z-index1 */
    animation: growth linear 0.2s;
}

/* Authen modal */
.authen-form{
    border-radius: 5px;
    background-color:var(--white-color);
    width:500px;
    overflow:hidden;
    /* khi thèn con vượt quá thèn cha thì ẩn đi */
}
.authen-form__container{
    padding:0 32px;
}
.authen-form__header{
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin: 0 12px;
    margin-top: 10px;
}
.authen-form__heading{
    font-size:2.2rem;
    font-weight: 400;
    color:var(--text-color);
}
.authen-form__switch-btn{
    font-size:1.6rem;
    font-weight:400;
    color: var(--primary-color);
    cursor: pointer;
}
.authen-form__form{
   
    
}
.authen-form__group{
    
}
.authen-form__input{
    width: 100%;
    height:40px; 
    margin-top:16px;
    padding-left:12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    font-size:1.4rem;
    outline:none;
}
.authen-form__input:focus{
    /* đây là lớp giả khi để chuột vào ô input, 
    viền border sẽ đậm lên */
    border-color: #888;
}
.authen-form__aside{
    margin-top: 18px;
}
.authen-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align:center;
    padding-left:12px;
}
.authen-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}
.authen-form__controls{
    margin-top:80px;
    display:flex;
    justify-content:flex-end;
    /* dịch sang phải */
    margin-bottom: 22px;
}
.form__controls-back{
    margin-right: 8px;
}
.authen-form__socials{
    background-color:#f5f5f5;
    padding: 16px 36px;
    display:flex;
    justify-content: space-between;
}
.authen-form__socials-icon{
    font-size:1.8rem;
}
.authen-form__socials--facebook{
    background-color: #3a5a98;
    font-weight: 500;
    color: var(--white-color);
}
.authen-form__socials--facebook
.authen-form__socials-icon{
    color: var(--white-color);
}
.authen-form__socials--google{
    color: #666;
    background-color: var(--white-color);
}
.authen-form__socials-title{
    margin:0 36px;
}
/* Đăng nhập */
.authen-form__help{
    display: flex;
    justify-content:flex-end;
    
}
.authen-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color:#939393;
}
.authen-form__help-separate{
    display: block;
    height:22px;
    border-left: 1px solid var(--border-color);
    margin:0 16px;
    margin-top:-1px;
}
.authen-form__help-forgot{
    color: var(--primary-color)
}
/* Header with Search */
.header__search{
    background-color: var(--white-color);
    height: 42px;
    flex: 1;
    border-radius: 2px;
    display:flex;
    align-items: center;
}
.header__cart{
    width: 153px;
    text-align: center;
}
.header__cart-heading{
    text-align: left;
    margin-left:10px;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight:500;
    margin-bottom: 0px;
}
.header__cart-list-item{
    list-style-type: none;
    padding-left:0;
    max-height:56vh; 
    overflow-y: auto;
    /* set độ rộng 400 để nếu nhiều món hàng sẽ bị thèn overflow ẩn đi bớt ,
     và dùng auto để nó cuộn xuống bên dưới */
}
.header__cart-item{
    display:flex;
    /* để ảnh và info lên 1 hàng ngang */
    align-items: center;
    
}
.header__cart-item:hover {
    background-color: #f8f8f8;
}
.header__cart-img{
    width: 42px;
    height:42px;
    margin : 12px;
    border: 1.5px solid var(--border-color);
}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
    transform: translateY(-8px);
}
.header__cart-item-head{
    display:flex;
    align-items:center;
    justify-content: space-between;
    
}
.header__cart-item-name{
    font-size: 1.4rem;
    color:var(--text-color);
    font-weight: 500;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}
.header__cart-iteam-price-wrap{
    
}
.header__cart-item-price{
    font-size: 1.4rem;
    color:var(--primary-color);
    font-weight: 400;
}
.header__cart-item-multify{
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px;
}
.header__cart-item-quantify{
    color: #757575;
    font-size: 1.2rem;
}
.header__cart-item-body{
    display:flex;
    justify-content: space-between;
    margin-top: -14px;
    padding-bottom: 8px;
}   
.header__cart-item-description{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 400;

}
.header__cart-item-delete{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
}

.header__cart-item-delete:hover{
    color: var(--primary-color);
}
.header__cart-view-cart{
    float: right;
    margin : 0 12px 12px 0;

}
.header__cart-view-cart:hover{
    opacity: 0.7;
}
.header__cart-wrap{
    position: relative;
    display:inline-block;
    padding: 0 4px;
    cursor: pointer;
    -webkit-tap-highlight-color:transparent;
}
.header__cart-wrap::after{
    content: "";
    position: absolute;
    width: 80px;
    right: -13px;
    height: 28px;
    top: 22px;
    
}
    

.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-list::after{
    content: "";
    position: absolute;
    right: 8px;
    top:-24px;
    border-width: 12px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    /* border-color: trên phải dưới() trái  */
    cursor: pointer;
}
.header__cart-icon{
    font-size: 2.6rem;
    color: var(--white-color);
    margin-top:8px;
    
}
.header__cart-notice{
    position: absolute;
    top: -6px;
    right: -8px;
    padding: 2px 7px;
    background-color:var(--white-color);
    display:block;
    color: var(--primary-color);
    font-size:1.4rem;
    line-height:1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
}
.header__cart-list{
    position: absolute;
    top: calc(100% + 13px );
    right: -7px;
    width:379px; 
    background-color:#fdfdfd;
    border-radius:2px; 
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor:default;
    z-index: 1;

}

.header__cart-list--no-cart{
    padding: 28px 0 ;
}
.header__cart-list--no-cart .header__cart--no-cart-img,
.header__cart-list--no-cart .header__cart--no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header__cart--no-cart-img{
    width:60%;
    display:none;
}
.header__cart--no-cart-msg{
    display:none;
    font-size: 1.6rem;
    color: var(--text);
    font-weight: 500;
}
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin-left: -3px;
    /* width: 1200px; */

}
.header__mobile-search{
    padding: 0 16px;
    display: none;
}
.header__mobile-search-icon{
    font-size:2.6rem;
    color: var(--white-color);
}

.header__search-input-wrap{
    position:relative;
    flex:1;
    height:100%;
}
.header__search-input{
    
    height:100%;
    border:none;
    outline:none;
    color: var(--text-color);
    font-size:1.6rem;
    padding:0 16px;
    border-radius: 3px;
}

.header__search-select{
    border-left: 2px solid #ccc;
    position:relative;
    padding-left:12px;
    cursor: pointer;
   
}
.header__search-select-lable{
    font-size:1.4rem;
    color: var(--text-color);
}
.header__search-select-icon{
    font-size:1.4rem;
    color: #4a4a4a;
    margin: 0 12px;
    position: relative;
    top:2px;

}
.header__search-btn{
    background-color:var(--primary-color);
    border: none;
    border-radius:2px;
    height:34px;
    margin-right: 3px;
    width: 60px;
    outline:none;
}
.header__search-btn:hover{
    cursor: pointer;
    background-color:#ec593c;
}
.header__search-btn-icon{
    color: var(--white-color);
    font-size: 1.3rem;
   
}
.header__search-option{
    position: absolute;
    right: 0;
    top:130%;
    width:130px;  
    list-style-type: none;
    /* text-align: right; */
    box-shadow: 0 0 3px #ccc;
    padding-left: 0;
    border-radius:3px;
    /* overflow: hidden; */
    display:none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}
.header__search-option::after{
    /* lớp giả làm cầu nối để di chuột k bị mất */
    content:"";
  
    display: block;
    position:absolute;
    width:130px;
    height:30px;
    top:-28px;
}
.header__search-option-item{
   background-color:var(--white-color);
   
   padding: 8px 8px;
}
.header__search-option-item:first-child{
    border-top-left-radius:3px ;
    border-top-right-radius: 3px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius:3px ;
    border-bottom-right-radius:3px ;
}
.header__search-option-item:hover{
    background-color:#fafafa;
}
.header__search-select:hover .header__search-option{
    display:block;
}
.header__search-option-item span {
    color: var(--text-color);
    font-size: 1.3rem;
    margin-left: 8px;
}
.header__search-option-item i {
    color:var(--primary-color);
    font-size: 1.2rem;
    margin : 0 8px 8px;
    display: none;
}
.header__search-option-item--active i {
    display: inline-block;
}
.header__search-input:focus ~ .header__search-history{
    /* dùng focus để khi nhấp chuột vào nó mới hiện ra chứ k phải hover , 
    đi theo với focus là ~ */
    display: block;
}
/* Search history */
.header__search-history{
    position:absolute;
    left:0;
    top:106%;
    width: calc(100% - 16px);
    background-color:var(--white-color);
    box-shadow: 0 1px 5px rgba(189,189,189);
    display:none;
    overflow: hidden;
    z-index: 1;
}
.header__search-history-heading{
    font-size: 1.4rem;
    color: #999;
    font-weight:500;
    margin: 6px 15px;
}
.header__search-history-list{
    list-style-type: none;
    padding-left: 0;
    margin-top: 9px;
    margin-bottom:0;
}
.header__search-history-item{
    height:38px;
    padding: 0 12px;
    display: block;
}


.header__search-history-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-history-item a{
    text-decoration: none;
    height:38px;
    margin : 0 4px;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height:38px;
}
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height:var(--header-sort-bar-height);
    background-color:var(--white-color);
    list-style-type: none;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 0 -40px;
    display:none;

}
.header__sort-item{
    flex: 1;
}
.header__sort-item:first-child .header__sort-link::before{
    display: none;
}
.header__sort-link{
    text-decoration: none;
    font-size:1.4rem;
    color: var(--text-color);
    display: block;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}
.header__sort-link::before{
    position: absolute;
    content: "";
    top: 50%; /* 50% của thèn chứa nó */
    left: 0;
    height:60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%)    /* 50% của chính nó */
}
.header__sort-item--active .header__sort-link{
    color: var(--primary-color);
}
/* Container */
.app{
    overflow: hidden;
}
.app__container{
    background-color:#f5f5f5;
    /* width:1200px; */
}
.category{
    background-color:var(--white-color);
    border-radius: 2px;
}
.app__content{
    padding-top: 36px;
}
.category__heading{
    margin-top: 0;
    color: var(--text-color);
    font-size:1.5rem;
    font-weight:400;
    padding:12px 23px 0 23px;
    text-transform: uppercase;

}

.category__list{
    padding: 0 0 8px 0;
    
}
.category__item{
    list-style: none;
    position: relative;

}
.category__item:first-child::before{
    display:none;

}
.category__item::before{
    /* width: 100%; */
    content: "";
    position:absolute;
    top: 0;
    left: 16px;
    right: 16px;
    border-top: 1px solid #e1e1e1;

}
.category__item--active .category__item-link{
    color:var(--primary-color);
}

.category__item-link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size:1.5rem;
    padding: 11px 22px;
    display:block;
    right: 0;
   

}
.category__item-link:hover{
    color: var(--primary-color);
 
}

/* Mobile Category */
.mobile-category{
    display: none;
}
.mobile-category__list{
    display: flex;
    list-style: none;
    padding-left: 0px;
    max-width: 100%;
    /** Khi đối tượng con vượt quá đối tượng cha theo chiều X (chiều ngang) thì sẽ auto sinh ra thanh scroll để kéo */
    overflow-x: auto;
}
.mobile-category__list::-webkit-scrollbar{
    display: none;
}
.mobile-category__item{

    /** khi nằm trong thẻ cha bị dưới hạng kích thước thì nó sẽ tự động co lại */
    flex-shrink: 0;
    margin-right: 9px;
}
.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link{
    background-color: #87afd8;
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
    background-color: #76c9bd;
}
.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link{
    background-color: #88cf81;
}
.mobile-category__link{
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2 );
    overflow: hidden; /** chữ vượt quá thì ẩn đi  */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: center;
    /* display: block; */
    width: 110px;
    border-radius: 4px;
    font-weight: 200;
    user-select: none;
    -webkit-user-select: none;
    padding:  0 6px;
    
}

/* Home sort + filter */
.home-filter{
    background-color:#ededed;
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.select-input__page{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}
.home-filter__lable{
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}
.btn-homefilter{
    margin-right:9px;
    min-width: 90px;
}
.home__filter-page{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.select-input__page-num{
    font-size:1.5rem;
    color: var(--text-color);
    margin-right:20px;
}
.select-input__page-current{
    color:var(--primary-color);
}
.select-input__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width:72px;/* width của tổng 2 icon */
    height:36px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.select-input__page-btn{
    background-color: var(--white-color);
    flex: 1;
    /* chia đôi 2 thèn tự chiếm max diện tích */
    display:flex;
    text-decoration: none;
}
.select-input__page-btn:first-child {
    border-right: 1px solid #eee;
   
}
.select-input__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.select-input__page-btn--disabled .select-input__page-icon{
    color: #ccc;
}
.select-input__page-icon{
    font-size: 1.4rem;
    margin: auto;
    color: #555;
}
/* Product CSS */
.home-product-item{
    display: block;
    text-decoration: none;
    background-color:var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px ;
    box-shadow: 0 1px 2px 0 rgba(0 ,0, 0 , 0.1);
    transition: transform linear 0.1s;
    will-change: transform;

}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0,0,0, 0.05);
}
.home-product-item__img{
    padding-top: 100%;
    /* kích  thước ảnh là hình vuông */
    background-repeat: no-repeat;
    background-size: contain;
    background-position:top center;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.home-product-item__name{
    font-size: 1.4rem;
    Color:rgba(0, 0, 0, 0.8);
    font-weight: 400;
    margin: 10px;
    line-height: 1.8rem;
    height:3.8rem;
    /* Để ép kiểu có dấu sau dòng cuối (...), ta có kích thước 1 dòng chữ là 1.8px nên để height 3.6px của 2 dòng thôi , 
    nên dòng thứ 3 sẽ dư ra dùng overflow để hidden nó đi  */
    overflow: hidden;
    display: block;
  
    display: -webkit-box;  /* các bước tuần tự để có dấu ... */
    -webkit-box-orient: vertical; /* chiều dọc */ /* các bước tuần tự để có dấu ... */
    -webkit-line-clamp: 2; /* ở đây ta muốn dấu ... hiện ở dòng thứ 2 nên để giá trị 2 */
    
}
.home-product-item__price{
    display: flex;
  
    align-items: baseline;
    flex-wrap: wrap;/* khi vượt quá sẽ nhảy xuống dòng */
    
    line-height:2.4rem;
    font-weight:400;
    
}
.home-product-item__price-old{
    text-decoration: line-through;
    Color:rgba(0, 0, 0, 0.54);
    font-size: 1.4rem;
    margin-left: 10px;
    margin-top: -6px;
}
.home-product-item__price-current{
    color: var(--primary-color);
    font-size: 1.6rem;
    margin-left: 10px;
}
.home-product-item__action{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px;
}
.home-product-item__like{
    font-size: 1.3rem;
   
}
i.home-product-item__like-icon-fill{
    
    color:#f63d30;
    display:none;
}
.home-product-item__like--liked .home-product-item__like-icon-fill{
    display:inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display:none;   
}


.home-product-item__rating{
    font-size: 1rem;
    color: #d5d5d5;
    font-weight:400;
    transform:scale(0.8);
    transform-origin: right;
    margin-left:30px;
    
}
.home-product-item__star--gold{
    color: var(--star-gold-color);
}
.home-product-item__sold{
    font-size:1.2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    margin-left:4px;
}
.home-product-item__origin{
    display:flex;
    justify-content: space-between;
    padding: 0 10px;
    padding-bottom:10px;
    font-size: 1.2rem;
    font-weight:200;
    color: rgba(0, 0, 0, 0.65);
    margin-top: 3px;
}
.home-product-item__brand{

}
.home-product-item__origin-name{

}
.home-product-item__favourite{
    
    position: absolute;
    top:10px;
    left:-4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-weight:500;
    font-size: 1.2rem;   
    line-height:1.6rem;
    padding-right: 5px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}
.home-product-item__favourite::after{
    position: absolute;
    top: 16px;
    left: 0px;
    content: "";
    margin: auto;
    border-top: 6px solid currentColor;
    border-left: 5px solid transparent;
    filter: brightness(60%);position: absolute;
    
}
.home-product-item__favourite span{
    color: var(--white-color);
}
.home-product-item__favourite i{
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 3px 0 5px;
}
.home-product-item__sale-off{
    position:absolute;
    text-align: center;
    padding-top:4px;
    top: 0;
    right:0;
    width: 40px;
    width:36px;
    background-color:rgba(255,216,64,0.94);
    border-top-right-radius: 2px;
}
.home-product-item__sale-off::after{
    position: absolute;
    top: 36px;
    left: 0px;
    content: "";
    margin: auto;
    border-width: 0px 18px 5px;
    border-style: solid;
    border-color: transparent rgba(255,216,64,0.94) transparent rgba(255,216,64,0.94);
}
.home-product-item__sale-off-percent{
    font-size: 1.3rem;
    color: #ee4d2d;
    font-weight: 600;
    line-height:13px;

}   
.home-product-item__sale-off-lable{
    font-size: 1.3rem;
    line-height:1.4rem;
    font-weight: 400;
    color: var(--white-color);
}
/* Pagination */

.pagination{
    display: flex;
    justify-content: center;/* căn theo chiều dọc */
    list-style: none;
    align-items: center;/* căng theo chiều ngang */
    margin: 39px 0 ;
    padding-left: 0px;
}
.pagination-item{
    font-size: 2rem;
    font-weight:300;
    line-height:2rem;
    margin: 0;
    
}
.pagination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.pagination-item--active .pagination-item__link:hover{
    opacity: 0.9;
}
.pagination-item__link{
    display: block;
    text-decoration: none;
    color: #939393;
    min-width: 40px;
    /* height:30px; */
    height: var(--height);
    line-height: var(--height);
    /* padding: 4px 14px; */
    border-radius:2px;
    /* margin: 0 12px; */
    text-align: center;

}
.pagination-item__icon{

}
/* Footer */
.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 20px;
}
.footer__heading{
    font-size:1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer-list{
    list-style: none;
    padding-left: 0;
}   
.footer-item{
    display:flex;
    align-items: center;

} 
.footer-item:hover{
    color: var(--primary-color);
}
.footer-item__link{
    text-decoration: none;
    color: #666;
    padding: 6px 0;
    display: flex;
    align-items: center;
    /* display:block; */
    font-size: 1.3rem;
    
}
.footer-item__link:hover{
    color: var(--primary-color);
}

.footer-item__icon{
    font-size:1.6rem;
    margin-top: -1px;
    padding-right: 6px;
}
.footer__download{
    display: flex;
    
}

.footer__download-img-QR{
    width:80px;
    height:80px;
    /* object-fit: contain; */
    border: 1px solid var(--border-color);
}
.footer__download-apps{
    margin-left: 16px;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.footer__download-apps-img{
    height:16px;
    
}
.footer__download-apps-link{
    text-decoration: none;
    color: transparent;
    display: block;
    padding: 6px 8px;
}
.footer__bottom{
    background-color:#f5f5f5;
   margin-top: 40px;
}
.footer__text{
    text-align: center;
   padding: 16px;
   font-size: 1.2rem;
   color: #737373;
}
